* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #001f3f; /* Bleu nuit */
    color: #ffffff;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

#gallery {
    padding: 50px 0;
}

.nft-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.nft-item {
    background: #004080;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.nft-item:hover {
    transform: scale(1.05);
}

.nft-item img {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0074D9;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    margin: 20px 0;
}

button:hover {
    background: #0056A3;
}

footer {
    background: #003366;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
